/*
    folha de estilo do site acriancaeogato.com
    @author Rodrigo Sousa
*/

/* todos os comentarios terminam na coluna 75 */
/* para comentários, use <!-- comentario --> ou /* comentario */ 

/* LAYOUT OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */

/* variáveis */
:root
{
    --fundo: #fff6e0;
    --texto: #2d2a26;
    --retangulo: #ffffff;
    --rodape: #7c7c7c;
    --cabecalho: #d1d1d1;
    --titulo: #4e3e00;
}
/* FIM - variáveis */

/* CSS Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FIM - CSS Reset */


/* Fonte Padrão */
body
{
    font-family: sans-serif, Roboto;
}
.container
{
    display: flex;
}
.btn
{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: var(--azulMedio);
    padding: 10px 40px;
    color: var(--branco);
    border-radius: 25px;
    border: 2px solid var(--branco);
}
header
{
    height: 65px;
    background-color: var(--cabecalho);
}
.logo img
{
    width: 128px;
    height: 128px;
}
#check
{
    display: none; /*esconder um elemento*/
}
label
{
    font-size: 3rem;
    color:rgba(156,220,254,0.75);
    position: fixed;
    top: 5px;
    right: 15px;
}
nav ul
{
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 60px;
    background-color: rgba(0,0,0,0.9);
    width: 65%;
    right: -65%; /*Ajustar com width*/
    transition: all 0.5s;
}
/* ação para a caixa checkbox.
Quando selecionado mudar ul */
#check:checked~ul
{
    right: 0;
}
nav ul li
{
    padding: 20px;
    border-bottom: 1px solid var(--rodape);
    text-align: right;
}
nav ul li a
{
    text-decoration: none;
    color: var(--retangulo);
}

/* PRINCIPAL */

main {
    height: 50vh;
    background: url(img/folhas.png);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1
{
    color: var(--titulo);
    font-family: "Koulen", sans-serif;
    margin-bottom: 5px;
    text-align: center;
}

main h2
{
    color: var(--texto);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

/* DESTAQUE */

#destaque
{
    padding: 70px 70px;
    background: url(./img/pergaminho.png);
    background-size: cover;
    background-position: center;
    background-color: var(--fundo);
    width: 370px;
    height: 450px;
    text-align: center;
}
#destaque .container
{
    flex-direction: column;
}
#hero
{
    text-align: center;
}
.hero-text h2
{
    text-align: center;
    font-size: 1.6rem;
    color: var(--texto);
    margin-bottom: 5px;
}
.topic
{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.topic img
{
    width: 50px;
    height: 50px;
}
.topic p
{
    margin-left: 15px;
}
/* FIM - Fonte Padrão */
/* FIM - LAYOUT XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* SMARTPHONE LANDSCAPE OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 576px)
{
    /*nav ul
    {
        width: 40%;
        right: -40%;
    }*/

/* PRINCIPAL */

    main
    {
        height: 75vh;
    }

    main h1
    {
        font-size: 2.0rem;
    }

    main h2
    {
        font-size: 1.2rem;
    }


/* DESTAQUE */

    #destaque
    {
        padding: 70px 30px;
    }
    #destaque .container
    {
        flex-direction: row;
        align-items: center;
    }
    #hero
    {
        text-align: left;
    }
    #hero img
    {
        width: 370px;
        height: 370px;

    }
    .topic
    {
        display: none;
    }
}
/* FIM - SMARTPHONE LANDSCAPE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* TABLET PORTRAIT OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 768px)
{
}
/* FIM - TABLET PORTRAIT XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* TABLET LANDSCAPE OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 992px)
{
}
/* FIM - TABLET LANDSCAPE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* NOTEBOOK/PC - HD OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 1200px)
{
    header
    {
        height: 100px;
    }

    .logo img
    {
        width: 194px;
        height: 194px;
    }
    label
    {
        display: none;
    }
    nav ul
    {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
    }
    nav ul li
    {
        float: left;
        border: 0;
    }
    nav ul li a:hover
    {
        color: var(--texto);
    }

    /* DESTAQUE */

    #destaque
    /*{
        background-attachment: fixed; Efeito Parallax
    }*/
    #hero img
    {
        width: 400px;
        height: 400px;
    }
    .hero-text h2
    {
        font-size: 2rem;
    }
    .topic
    {
        display: flex;
    }
}
/* FIM - NOTEBOOK/PC - HD XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* NOTEBOOK/PC/TV - HD FULL HD 4K OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 1400px)
{
}
/* FIM - NOTEBOOK/PC/TV - HD FULL HD 4K XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */