/*
    folha de estilo do site acriancaeogato.com
    @author Rodrigo Sousa
*/

/* todos os comentarios terminam na coluna 75 */
/* para comentários, use <!-- comentario --> ou /* comentario */ 

/* LAYOUT OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */

/* variáveis */
:root
{
    --fundo: #fff6e0;
    --texto: #2d2a26;
    --retangulo: #ffffff;
    --rodape: #7c7c7c;
    --cabecalho: #d1d1d1;
}
/* FIM - variáveis */

/* CSS Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FIM - CSS Reset */


/* Fonte Padrão */
body
{
    font-family: sans-serif, Roboto;
}
.container
{
    display: flex;
}
header
{
    height: 65px;
    background-color: var(--cabecalho);
}
.logo img
{
    width: 128px;
    height: 128px;
}
#check
{
    display: none; /*esconder um elemento*/
}
label
{
    font-size: 3rem;
    color:rgba(156,220,254,0.75);
    position: fixed;
    top: 5px;
    right: 15px;
}
nav ul
{
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 60px;
    background-color: rgba(0,0,0,0.9);
    width: 65%;
    right: -65%; /*Ajustar com width*/
    transition: all 0.5s;
}
/* ação para a caixa checkbox.
Quando selecionado mudar ul */
#check:checked~ul
{
    right: 0;
}
nav ul li
{
    padding: 20px;
    border-bottom: 1px solid var(--rodape);
    text-align: right;
}
nav ul li a
{
    text-decoration: none;
    color: var(--retangulo);
}
/* FIM - Fonte Padrão */
/* FIM - LAYOUT XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* SMARTPHONE LANDSCAPE OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 576px)
{
    nav ul
    {
        width: 40%;
        right: -40%;
    }
}
/* FIM - SMARTPHONE LANDSCAPE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* TABLET PORTRAIT OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 768px)
{
}
/* FIM - TABLET PORTRAIT XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* TABLET LANDSCAPE OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 992px)
{
}
/* FIM - TABLET LANDSCAPE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* NOTEBOOK/PC - HD OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 1200px)
{
    header
    {
        height: 100px;
    }

    .logo img
    {
        width: 194px;
        height: 194px;
    }
    label
    {
        display: none;
    }
    nav ul
    {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
    }
    nav ul li
    {
        float: left;
        border: 0;
    }
    nav ul li a:hover
    {
        color: var(--texto);
    }
}
/* FIM - NOTEBOOK/PC - HD XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* NOTEBOOK/PC/TV - HD FULL HD 4K OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 1400px)
{
}
/* FIM - NOTEBOOK/PC/TV - HD FULL HD 4K XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */