/*
    folha de estilo do site acriancaeogato.com
    @author Rodrigo Sousa
*/

/* todos os comentarios terminam na coluna 75 */
/* para comentários, use <!-- comentario --> ou /* comentario */ 

/* LAYOUT OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */

/* variáveis */
:root
{
    --fundo: #fff6e0;
    --texto: #2d2a26;
    --retangulo: #ffffff;
    --rodape: #7c7c7c;
    --cabecalho: #d1d1d1;
}
/* FIM - variáveis */

/* CSS Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FIM - CSS Reset */


/* Fonte Padrão */
body
{
    font-family: sans-serif, Roboto;
}
/* FIM - Fonte Padrão */
/* FIM - LAYOUT XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* SMARTPHONE LANDSCAPE OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 576px)
{
}
/* FIM - SMARTPHONE LANDSCAPE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* TABLET PORTRAIT OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 768px)
{
}
/* FIM - TABLET PORTRAIT XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* TABLET LANDSCAPE OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 992px)
{
}
/* FIM - TABLET LANDSCAPE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* NOTEBOOK/PC - HD OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 1200px)
{
}
/* FIM - NOTEBOOK/PC - HD XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* NOTEBOOK/PC/TV - HD FULL HD 4K OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (min-width: 1400px)
{
}
/* FIM - NOTEBOOK/PC/TV - HD FULL HD 4K XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */